@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
html, body{
  margin: 0;
  padding: 0;
}
.header {
  padding: 2rem 0 10rem;
  background-image: url("/images/pattern-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.header-title {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 100%;
  margin: 0;
  cursor: default;
}

.info-title {
  font-size: .7rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #969696;
  margin: 0;
  letter-spacing: 1px;
}

.info-data {
  font-size: 1.3rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #2b2b2b;
  margin: .5rem 0;
} 

.form {
  width: Min(31.25rem, 90%);
  margin: 1.5rem auto;
  position: relative;
}

.form-input {
  font-family: "Rubik", sans-serif;
  width: 90%;
  padding: 1rem 1.5rem;
  border-radius: .8rem;
  border: none;
  outline: none;
}

.button {
  height: 100%;
  width: 3.125rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  outline: none;
  border: none;
  border-radius: 0 .8rem .8rem 0;
  cursor: pointer;
}

.button:hover {
  background-color: #2b2b2b;
}

.button-icon {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}


#map { 
  width: 100%;
  height: 500px;
}


.attribution {
  font-family: "Rubik", sans-serif;
  font-size: 11px;
  text-align: center;
  padding: 1rem 0;
}

.attribution a {
  color: #3e52a3;
}

.container {
  width: Min(64rem, 90%);
  background-color: white;
  padding: 1.5rem;
  text-align: center;
  border-radius: .8rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 999;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 2rem;
  padding: 2rem;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.info:not(:last-child) {
  border-right: 1px solid #969696;
}
